*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

// body{
//     background-image: url('/src/assets/img/ELECTROL46_ES_MOBILE_v5.png');
//     opacity: 0.5;
//     background-size: cover;
// }