* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Header {
  background-image: url("/src/assets/img/Header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 122vh;
  text-align: center;
}
@media (min-width: 576px) {
  .Header {
    background-image: url("/src/assets/img/headerDesktop.png");
    background-position: center;
    height: 100vh;
  }
}
.Header-container {
  margin-top: 5rem;
}
@media (min-width: 576px) {
  .Header-container {
    margin-top: 50vh;
    left: 10vw;
  }
}
.Header-logo {
  width: 105px;
  margin-bottom: 2.4rem;
}
.Header-title {
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 1rem;
}
.Header-text {
  color: #ffffff;
  font-size: 1.1rem;
}

.Section1 {
  background-color: #1a1a1a;
  text-align: center;
  color: #ffffff;
  padding-bottom: 40px;
}
.Section1-title {
  font-size: 1.7rem;
  padding-top: 3.9rem;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.Section1-desct {
  font-size: 3rem;
  -webkit-text-decoration: underline 3px #c80028;
          text-decoration: underline 3px #c80028;
}
.Section1-text {
  font-size: 1.3rem;
  margin-bottom: 0;
}
.Section1-tecno {
  font-size: 1.2rem;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 18px;
}
.Section1-envio {
  color: #c80028;
  font-size: 1.2rem;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.Section1-btnOferta {
  color: #ffffff;
  background-color: #c80028;
  padding: 0 1rem;
  padding: 4px 3.1rem;
  border: none;
}

.Section2 {
  padding: 36px;
}
.Section2-title {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 8px;
}
@media (min-width: 576px) {
  .Section2-title {
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }
}
@media (min-width: 576px) {
  .Section2-cont {
    padding: 40px 20px 50px 20px;
  }
}
.Section2-text {
  font-size: 1.2rem;
  width: 75%;
  color: #c80028;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .Section2-text {
    width: 100%;
    text-align: center;
  }
}
.Section2-figure {
  width: 100%;
  position: relative;
  height: 260px;
}
.Section2-img {
  position: absolute;
  left: -16px;
  max-width: 376px;
  top: 43px;
}
@media (min-width: 576px) {
  .Section2-img {
    max-width: 100%;
    top: 0;
    left: 0;
  }
}
.Section2Container {
  background-color: #e4e4e4;
  padding: 40px 20px 50px 20px;
  text-align: center;
}
.Section2-aspiradora {
  position: relative;
  margin-top: -49px;
  background-image: url("/src/assets/img/section2mv2.png");
  height: 31rem;
  background-size: cover;
  margin-bottom: 10rem;
}
@media (min-width: 576px) {
  .Section2-aspiradora {
    background-image: url("/src/assets/img/section2md2.png");
    height: 36.7rem;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (width: 1400px) {
  .Section2-aspiradora {
    height: 26.4rem;
  }
}
.Section2-imgAspiradora {
  display: block;
}
@media (min-width: 576px) {
  .Section2-imgAspiradora {
    display: none;
  }
}
.Section2-imgAspiDesk {
  display: none;
}
@media (min-width: 576px) {
  .Section2-imgAspiDesk {
    display: block;
    position: absolute;
    top: -42px;
    left: -144px;
  }
}
@media (width: 1400px) {
  .Section2-imgAspiDesk {
    width: 57%;
  }
}
.Section2 sup {
  font-size: 11px;
}

.swiper {
  width: 100%;
  height: 100%;
}
@media (min-width: 576px) {
  .swiper {
    width: 80%;
    margin: 0 auto;
  }
}

.swiper2 {
  width: 100%;
  height: 100%;
}
@media (min-width: 576px) {
  .swiper2 {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .Section3 {
    margin-bottom: 10rem;
  }
}
.Section3-img {
  width: 270px;
  height: 190px;
}
@media (min-width: 576px) {
  .Section3-img {
    width: 490px;
    height: 300px;
  }
}

.Section4 {
  background-color: #e4e4e4;
  width: 90% !important;
  margin-bottom: 5rem;
}

@media (min-width: 576px) {
  .Section5 {
    margin-bottom: 10rem;
  }
}
.Section5Card-img {
  width: 310px;
  height: 210px;
}
@media (min-width: 576px) {
  .Section5Card-img {
    width: 530px;
    height: 350px;
  }
}

.Section6 {
  background-color: #1a1a1a;
  margin-bottom: 2rem;
}
.Section6-img {
  width: 107px;
  height: 88px;
}

.Footer {
  background-color: #1a1a1a;
  height: 10rem;
}
.Footer-container1 {
  background-color: #e4e4e4;
  text-align: center;
}
.Footer-information {
  width: 80%;
  margin: 0 auto;
  font-size: 10px;
  color: #707070;
}
.Footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Footer-img {
  width: 6rem;
  height: 3rem;
  margin: 20px;
}
.Footer-copyright {
  text-align: center;
  margin-top: 1rem;
  font-size: 12px;
  color: #ffffff;
}