.Footer {
    background-color: $black;
    height: 15rem;

    &-container1{
        background-color: $gray-ligth;
        text-align: center;
    }
    &-information{
        width: 80%;
        margin: 0 auto;
        font-size: 10px;
        color:$gray ;
    }
&-logo{
    
    display: flex;
    align-items: center;
    justify-content: center;
}
    &-img {
        width: 6rem;
        height: 3rem ;
        margin: 20px;
 
    }

    &-copyright {
        text-align: center;
        margin-top: 1rem;
        font-size: 12px;
        color: $white;
    }
}