.Header {
    background-image: url('/src/assets/img/Header.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 122vh;
    text-align: center;

    @media (min-width: 576px) {
        background-image: url('/src/assets/img/headerDesktop.png');
        background-position: center;
        height: 100vh;
    }

    &-container {
        margin-top: 5rem;

        @media (min-width: 576px) {
            margin-top: 50vh;
            left: 10vw;
        }

}

&-logo {
    width: 105px;
    margin-bottom: 2.4rem;
}

&-title {

    color: $white;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 1rem;
}

&-text {
    color: $white;
    font-size: 1.1rem;
}


}