.Section2 {
    padding: 36px;

    &-title {
        text-align: center;
        font-size: 2rem;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 8px;
        @media (min-width: 576px) {
            font-size: 1.5rem;
            margin-bottom: 5rem;
        }

    }
    &-cont{
        @media (min-width: 576px) {
        padding: 40px 20px 50px 20px
        }
    }

    &-text {
        font-size: 1.2rem;
        width: 75%;
        color: #c80028;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 15px;
        @media (min-width: 576px) {
        width: 100%;
        text-align: center;
        }
    }

    &-figure {
        width: 100%;
        position: relative;
        height: 260px;
    }

    &-img {
        position: absolute;
        left: -16px;
        max-width: 376px;
        top: 43px;
        @media (min-width: 576px) {
            max-width: 100%;
            top: 0;
            left: 0;
        }
    }

    &Container{
        background-color: $gray-ligth;
        padding: 40px 20px 50px 20px;
        text-align: center;
       
    }
    &-aspiradora{
        position: relative;
        margin-top: -49px;
        background-image: url('/src/assets/img/section2mv2.png');
        height: 31rem;
        background-size: cover;
        margin-bottom: 10rem;
        @media (min-width: 576px) {
            background-image: url('/src/assets/img/section2md2.png');
            height: 36.7rem;
            background-size: cover;
            background-repeat: no-repeat;
        }
        @media (width: 1400px) {
            height: 26.4rem;
        }

    }
    &-imgAspiradora{
        display: block;
        @media (min-width: 576px) {
            display: none;
        }
    }
    &-imgAspiDesk{
        display: none;
        @media (min-width: 576px) {
            display: block;
            position: absolute;
            top: -42px;
            left: -144px;
        }
        @media (width: 1400px) {
            width: 57%;
        }
    }


    sup{
        font-size: 11px;
    }
}