.Section1{
    background-color: $black;
    text-align: center;
    color: $white;
    padding-bottom: 40px;

&-title{
    font-size: 1.7rem;
    padding-top: 3.9rem;
    text-transform: uppercase;
    margin-bottom: 8px;
}
&-desct{
    font-size: 3rem;
    text-decoration: underline 3px $red;
}
&-text{
    font-size: 1.3rem;
    margin-bottom: 0;
}

&-tecno{
    font-size: 1.2rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 18px;
}

&-envio{
    color: $red;
    font-size: 1.2rem;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 30px;
}
&-btnOferta{
    color: $white;
    background-color: $red;
    padding:0 1rem ;
    padding: 4px 3.1rem;
    border: none;
  
}
}