.Section3 {
    @media (min-width: 576px) {
        margin-bottom: 10rem;
    }

    &-title{
        text-align: center;
        margin-bottom: 2rem;
    }

    &-img {
        width: 270px;
        height: 190px;

        @media (min-width: 576px) {
            width: 360px;
            height: 247px;
        }
    }
    &-text{
        text-align: center;
        margin-top: 32px;
        margin-left: 126px;
        width: 200px;
        @media (min-width: 576px) {
            margin-left: 100px;
        }
    }
}