.Section4 {
    background-color: $gray-ligth;
    width: 90% !important;
    margin-bottom: 5rem;
    text-align: center;
    padding: 10px;
    @media (min-width: 576px) {
        display: flex;
        margin-bottom: 15rem;
     
    }

    &-text{
        color: $red;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        @media (min-width: 576px) {
            font-size: 20px;
        }
    }
    &-title{
        width: 70%;
        margin: 0 auto;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        @media (min-width: 576px) {
          width: 100%;
          font-size: 34px;
         
        }
    }
    &-img {
        margin-bottom: -60px;
        @media (min-width: 576px) {
            margin-top: -146px;
            margin-bottom: -140px;
        }
    }
}