.Section5 {
    @media (min-width: 576px) {
        margin-bottom: 10rem;
        width: 80%;
        margin: 0 auto;
    }
    &-title{
        text-align: center;
        margin-bottom: 2rem;
    }

    &-img {
        width: 320px;
        height: 210px;

        @media (min-width: 576px) {
            width: 546px;
            height: 323px;
        }
    }

    &-text {
        text-align: center;
        margin-top: 20px;
        margin-left: 105px;
        width: 144px;
        @media (min-width: 576px) {
            width: 278px;
        }
    }
}