.swiper {
    width: 100%;
    height: 100%;
    
    @media (min-width: 576px) {
        width: 80%;
       margin: 0 auto;
    }
    &-pagination{
        margin-top: 20px;
    }
}


.swiper2 {
    width: 100%;
    height: 100%;
    
    @media (min-width: 576px) {
        width: 80%;
       margin: 0 auto;
    }
}
